/******************************* 
		BODY STYLES
*******************************/
body {
	background: url(../img/bg-img.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: Helvetica, sans-serif;
	color: #fff;
}

/*.logo {
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
	height: 308px;
	top: 0px;
	text-indent: -9999px;
}*/

.title {
	color: #fff;
}

.red {
	color: #a02900;
}

.cart {
	padding-left: 0.625em;
	border-left: solid 1px #fff;
	margin-left: 0.625em;
}

.top-bar {
	background:transparent;
}

.top-bar-section ul {
	background:transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background:transparent;
}

.top-bar-section ul li > a {
	background:transparent;

}

/******************************* 
		HEADER STYLES
*******************************/
header {
	background: url(../img/header-img.png) no-repeat; 
  	background-size: 100%;
  	height: 670px;
  	margin-bottom: 1.25em;
  	margin-bottom: 0px;
}

header .row {

	max-width: 83.5rem;

}

#logo {
	margin-top: -1.8em;
}

#main_nav ul li {
	margin-right:1em;
}

#main_nav ul li a {
	font-size:14px;
}

.top-bar #top_bar_hide {
	display:none;
}

.fi-shopping-cart {
	font-size:30px;
}

#shopping_p, .fi-shopping-cart {
	vertical-align:middle;
}

#shopping_p {
	color:#fff;
}

button.small, .button.small {
	padding-top:10px;
	padding-bottom:10px;
}

/******************************* 
	MISSION STATEMENT STYLES
*******************************/
.ms {
	background-image: url('../img/wood_bg.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 410px; 
	width: 100%;
}

.ms h3 {
	background-image: url('../img/red_bg.png');
	background-repeat: no-repeat;
	margin: 80px 0 30px 100px;
}

.ms p {
	margin-left: 100px;
	width: 600px;
	font-size: 1.25em;
}

/******************************* 
		NEWS STYLES
*******************************/
.news {
	background: url(../img/news_bg.png) no-repeat;
  	background-size: 100%;
  	height: 400px;
}

.news-deets {
	margin-left: 75px;
	margin-top: 75px;
}

/******************************* 
		PRODUCT STYLES
*******************************/
.products {
	text-align: center;
}

.products img {
	padding: 20px 0;
}

/******************************* 
		FOOTER STYLES
*******************************/
footer {
	border-top: solid 1px #fff;
	padding: 1.25em;
	margin-top: 1.8em;
}

#footnav  {
	
	font-size: 1em;
	line-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footnav li {
	border-right: solid 3px #a02900;
	display:inline-block;
	padding-right: 1rem;
	padding-left: 1rem;

}

#footnav li a {
	color: #fff;
}

/*#footnav li a:lastchild {
	border-right: none;
}*/

.social {
	list-style-type: none;
}

.social  li {
	display:inline-block;
	padding-right: 1rem;
	padding-left: 1rem;

}



.socialImg img {
	height: 40px;
	width: 40px;
}
/******************************* 
		ProStaff Page
*******************************/
.showAll1  {
	display: none;
}
.showAll2  {
	display: none;
}
.showAll3  {
	display: none;
}
.showAll4  {
	display: none;
}
.showAll5  {
	display: none;
}
.showAll6  {
	display: none;
}
.showAll7  {
	display: none;
}
.showAll8  {
	display: none;
}
.showAll9  {
	display: none;
}
<<<<<<< HEAD
/******************************* 
		Contact Page
*******************************/
label {
	color: #fff;
}
textarea {
	height: 250px;
}

#message {
	font-size: 1.5em;
}
/******************************* 
		Media Query
*******************************/

@media (max-width: 1024px)  {

	header {

	  	height: 480px;
	  
	}

	
}


@media (max-width: 768px) {

	#main_nav ul li {
		margin-right:0em;
	}

	#main_nav ul li a {
		font-size:13px;
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 14px;

	}

	.ms {
	background-image:none;
	}

	header {
		
	  	height: 353px;
	 
	}

	.ms h3 {

	/*margin: 32px 0 30px 100px;*/
	}

	#footnav li {
	
	padding-right: .5rem;
	padding-left: .5rem;

}

	#footnav li a {
	color: #fff;
	font-size:14px;
}





}

@media (max-width: 480px) {

	footer {
	border-top: solid 0px #fff;
	padding: 1.25em;
	margin-top: 1.8em;
}

	header {
	background: url(../img/header-img-mobile.png) no-repeat; 
  	background-size: 100%;
  	height: 347px;
  	
	}

	body {
	background: none; 
	background-color:#000;
	}


	

	.top-bar {
		background:#333333;
		width: 100%;
	}

	.top-bar-section ul {
		background:#333333;
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
		background:#333333;
	}

	.top-bar-section ul li > a {
		background:#333333;

	}

	#main_nav ul li a {
		margin-right: 3px;

	}

	#main_nav_wrapper {
		padding-right:0px;
		padding-left:0px;
	}

	#logo_wrapper {

		padding-right:0px;
		padding-left:0px;

	}

	#cart_wrapper {
	padding-right: 0px;
	padding-left: 0px;
	background-color: #f04124;
	overflow: hidden;
	height: 45px;
	}


	.button.small {
	padding-top: 6px;
	width: 100%;
	}



	.ms {
	background-image:none;
	}

	.ms p {
	margin-left: 0px;
	width: 90%;
	font-size: 1em;
	margin: 0 auto;
	}

	.ms h3 {
	/*margin: 32px 0 30px 0px;*/
	margin-top: 0px;

	}

	h3 {
	/*margin: 32px 0 30px 0px;*/
	margin-top: 0px;
	}


	.product_line {
		border-color:white;
		border-bottom: solid 1px;
		display: inline-block;
		text-align:center;

	}

	footer {
		padding:0px;
	}

	#footer_wrapper {
		background-color:#a02900;
		height:auto;
		padding-right:0px;
		padding-left:0px;
	}

	#footnav  {
		width:100%;
		text-align:center;
	}


	#footnav li {

		display:block;
		border-right: 0px;
		padding:.5em;
		border-bottom:#fff solid 1px;
		
	}

	.social {

	text-align: center;
	width: 100%;
	padding:1em;

	}


>>>>>>> FETCH_HEAD
}
